/*------------------------------------------------------------------------------

        Theme Name: Alecto
        Description: Alecto HTML5, CSS3, responsive comming soon template
        Author: Martin Tokarski
        Version: 1.0
        License: GNU General Public License version 3.0
        License URI: http://www.gnu.org/licenses/gpl-3.0.html

--------------------------------------------------------------------------------

        0.	CSS Reset & Clearfix
        1.	Basic
        2.	Header
        3.	Timer
        4.	Modal
        5.	Newsletter
        6.	Social Icons
        7.	Preload
        8.	Responsive

/*----------------------------------------------------------------------------*/
/*	0.	CSS Reset & Clearfix - http://meyerweb.com/eric/tools/css/reset/
/*----------------------------------------------------------------------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } :focus { outline: 0; } ins { text-decoration: none; } del { text-decoration: line-through; } table { border-collapse: collapse; border-spacing: 0; }

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } .clearfix { display: inline-block; } /* Hide from IE Mac \*/ .clearfix { display: block; } /* End hide from IE Mac */ .none { display: none; } /* End Clearfix */

/*----------------------------------------------------------------------------*/
/*	1.	 Basic 
/*----------------------------------------------------------------------------*/

body {
    background: #fff;
    color: #939898;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
}

a { 
    color: #ff4136;
    text-decoration: none;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

a:hover { 
    color: #ff4136;
    text-decoration: underline;
}

.container{
    text-align: center;
    margin: 0% 5%;
}

h1 {
    font-size: 42px;
    font-weight: 100;
    color: #262624;
    line-height: 1.5;
    margin-bottom: 40px;
}

h2 {
    font-size: 30px;
    font-weight: 100;
    color: #262624;
    line-height: 1.5;
    margin-bottom: 40px;
}

p {
    font-size: 16px;
    color: #939898;
    line-height: 1.5;
    margin-bottom: 20px;
}

/*----------------------------------------------------------------------------*/
/*	2.	Header
/*----------------------------------------------------------------------------*/

#header{
    text-align: center;
    margin-top: 80px;
    margin-bottom:40px;
}

#logo {
    background: url("../img/logo.png") no-repeat center;
    text-indent: -9999px; 
    height: 145px;                        
    width: auto;
    white-space: nowrap; 
}
#logo a {
    color: #262624;
    font-size: 16px;
    line-height: 1;
    outline: none;
}

/*----------------------------------------------------------------------------*/
/*	3.	Timer
/*----------------------------------------------------------------------------*/

#clock{
    text-align: center;
    margin: auto;
    display: inline-block;
    margin-bottom: 40px;
}

.clock-section{
    border-right: 1px #f3f3f3 solid;
    float: left;
    padding: 20px 60px;
}

.clock-section span{
    font-size: 60px;
    font-weight: 100;
    color: #262624;
    line-height: 1.5;
}

#clock div:last-of-type{
    border-right: none;
}

#clock p{
    margin-bottom: 0px;
}

/*----------------------------------------------------------------------------*/
/*	4.	Modal 
/*----------------------------------------------------------------------------*/

#modal-open i{
    background: #f3f3f3;
    color: #939898;
    font-size: 14px;
    padding: 14px;
    margin-bottom: 40px;
    text-align: center;
    border-radius: 2px; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

#modal-open i:hover{
    background: #262624;
    color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#modal-close i{
    font-size: 14px;
    background: #fff;
    padding: 14px;
    color: #262624;
    text-align: center;
    border-radius: 2px;
    margin-bottom: 40px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

#modal-close i:hover{
    color: #fff;
    background: #ff4136;
}

#modal {
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 997;
    background: #000;
    display: none;
}

#modal .container {
    padding-top: 62px;
    text-align: center;
    width:800px;
    margin: 0 auto;
}

#modal .container .one{
    float: left;
    text-align: center;
    width: 100%;
}

#modal .container .one-half{
    float: left;
    text-align: left;
    width: 47%;
    margin-right: 3%;
}

#modal .container h2{
    font-size: 28px;
    font-weight: 100;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 40px;
}

#modal .container h3{
    width: 100%;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.11111;
    margin-bottom:20px;
    letter-spacing: 0px;
}

#modal .container p{
    color: #f3f3f3;
    margin-bottom:40px;
    letter-spacing: 0px;
    text-align: justify;
    -moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto; 
}

#modal .container ul{
    margin-bottom:40px;
    letter-spacing: 0px;
}

#modal .container ul li{
    color: #f3f3f3;
}

#modal .container ul li i{
    margin-right:8px; 
    color: #ff4136;
    min-width: 16px;
}

/*----------------------------------------------------------------------------*/
/*	5.	Newsletter
/*----------------------------------------------------------------------------*/

#newsletter { 
    text-align: center;
    display: block; 
    margin-bottom: 60px;  
}

#newsletter fieldset{ 
    margin: 0px auto;
    width: 500px;
}

#newsletter input, textarea, select { 
    float: left;
    height: 54px;
    width: 320px;
    padding: 0px 20px;
    background:  #f3f3f3;
    border: none;
    color: #939898;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    -webkit-border-top-left-radius: 2px;
    -moz-border-radius-topleft: 2px;
    border-top-left-radius: 2px;
    -webkit-border-bottom-left-radius: 2px;
    -moz-border-radius-bottomleft: 2px;
    border-bottom-left-radius: 2px;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

}

#newsletter input:hover, textarea:hover, select:hover,
#newsletter input:focus, textarea:focus, select:focus { 
    background: #f7f6f6;
}

#newsletter input.submit { 
    float: right;
    width: 140px;
    cursor: pointer; 
    border: none;
    background:#ff4136; 
    color:#fff; 
    -webkit-border-top-left-radius: 0px;
    -moz-border-radius-topleft: 0px;
    border-top-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-bottomright: 2px;
    border-bottom-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    border-top-right-radius: 2px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

#newsletter input.submit:hover { 
    background:#262624;
}

#newsletter input[type="submit"][disabled] { 
    background:#939898; 
    color:#fff;
}

#message{ 
    position: absolute;
    width: 500px;
    left:50%;
    margin-left: -250px;
    text-align: center;
    z-index: 995;
}

.error-message { 
    margin-top: 16px;
    color:#ff4136;
    font-size: 16px;
}

.success-message{
    margin-top: 16px;
    color:#939898;
    font-size: 16px;
}

/*----------------------------------------------------------------------------*/
/*	6.	Social Icons
/*----------------------------------------------------------------------------*/

.social ul li{
    display: inline-block;
}

.social li{
    border-right: 1px #f3f3f3 solid;
}

.social li:last-child{
    border-right:none;
}

.social i{
    font-size: 24px;
    border-radius: 100%;
    padding: 18px 26px;
    color: #939898;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
    transition: all .2s linear;
}

.social i:hover{
    color: #262624;
}

/*----------------------------------------------------------------------------*/
/*	7.	Preload
/*----------------------------------------------------------------------------*/

#preload {
    background: #fff;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;	
    z-index: 998;
}

#preload-content {
    text-align: center;
    height: 100px;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    position: absolute;
    top: 50%;
    z-index: 999;
}

.preload-text {
    margin-top:20px;
    color: #939898;
    font-size: 16px;
    text-align: center;
}

/*----------------------------------------------------------------------------*/
/*	8.	Responsive
/*----------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

    h1{
        font-size: 34px;
    }

    .clock-section{
        padding: 20px 40px;
    }

    .clock-section span{
        font-size: 34px;
    }

    #clock p{
        font-size: 14px;
    }


    #newsletter fieldset{ 
        width: 380px;
    }

    #newsletter input, textarea, select { 
        width: 240px;
    }

    #newsletter input.submit { 
        width: 100px;
    }

    #modal .container {
        width: 480px;
    }

}

@media only screen and (max-width: 480px) {
    h1{
        font-size: 28px;
        margin-bottom: 40px;
    }

    #clock{
        margin-bottom: 40px;
    }

    .clock-section{
        padding: 20px 20px;
    }

    .clock-section span{
        font-size: 28px;
    }

    #clock p{
        font-size: 12px;
    }

    #newsletter fieldset{ 
        width: 320px;
    }

    #newsletter input, textarea, select { 
        width: 180px;
    }

    #newsletter input.submit { 
        width: 100px;
    }

    #modal .container {
        width: 340px;
    }

    #modal .container .one-half{
        width: 100%;
    }

    #message{ 
        width: 400px;
        margin-left: -200px;
    }

    .error-message { 
        margin-top: 18px;
        font-size: 12px;
    }

    .success-message{
        margin-top: 18px;
        font-size: 12px;
    }

}